.Home-form .form-group {
    text-align: left;
}

.Home-form button {
    margin-top: 20px;
}

h3 {
    font-size: 20px !important;
    margin-bottom: 30px !important;
}

.Bottom-message {
    margin-top: 20px;
}

.Bottom-message button.Link-button {
    padding: 0;
    border: none;
    background: none;
    color: #0095f6 !important;
    cursor: pointer;
}

.Bottom-message button.Link-button:focus {
    outline: none;
}

